
rect.btn {
    stroke:black;
    fill:lightgrey;
    fill-opacity:1;
    stroke-opacity:1;
  }

.label {
    cursor: default;
    font: 12px sans-serif;
    font-size:"5";
    fill:blue;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

text {
    font-family: arial;
    font-size: 12px;

}

.slideData {
 
  width: 130px;
  height: 20px;
  text-align: justify;
}
path.initialLine{
    fill:none;
    stroke-width: 1px;
}
path.sliderBar {
    transition-duration: 5s;
}

path.lineMen {
    fill: none;
    stroke:lightblue;
    stroke-width: 8px;
}

path.lineWomen {
    fill: none;
    stroke: pink;
    stroke-width: 8px;
}

.axis path,
.axis line {
  fill: none;
  stroke: slategray;
  shape-rendering: crispEdges;
}

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
  }

  